.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 165px;
}
.navbar .logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo .symbol{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #094b72;
    color: white;
}
.logo .name{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1.5px;
}
.navbar .nav_links{
    display: flex;
    align-items: center;
    gap: 56px;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
}
.icon_li{
    margin-left: 50px;
    font-size: 20px;
}
.navbar .nav_links li{
    list-style: none;
    cursor: pointer;
}
.menu i{
    display: none;
}
@media screen and (max-width:769px) {
    .navbar .nav_links{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        gap: 30px;
        font-size: 18px;
        width: 300px;
        height: 100vh;
        top: 60px;
        left: 500px;
        background: #094b72;
        color: white;
        padding: 40px 0 0 10px;
        transition: all 1s;
    }
    .navbar .active{
        left: 150px;
    }
    .menu i{
        font-size: 25px;
        display: block;
    }
    .navbar{
        padding: 15px 20px;
    }
    .icon_li{
    margin-left: 0px;
    font-size: 20px;
    }

}
